
<!-- SIGN IN / SIGN UP BUTTONS -->
<div class="logo">
      <img src="images/emashlogo2.jpg"></img>
      <a href="#" class="button radius" id="signinbutton"> SIGN IN </a>
      <a href="#" class="button radius" id="signupbutton"> SIGN UP </a>
</div>


<!--HERO IMAGE-->

<section class="hero">
        <section class="container">
        <img src="images/emashinfo2.jpg"></img>
        </section>
 </section>

<!--RECENT STORIES-->

<div class="recent-stories">
  <h2 class="recentstories"> THE LATEST EVENTS </h2>
</div>

<div class="row">
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>

        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>

        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>

</div>

<div class="founder-stories">
  <h2 class="founderstories"> THE FOUNDERS </h2>
</div>

<div class="row">
        <div class="large-3 columns">
          <img src="images/tricia.jpg" class="founderpic"/>
          <h4 class="foundernames"> tricia mctigrit </h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <center><a href="mailto:mctigrit.tricia@gmail.com?Subject=Yo%20Tricia"><img src="images/email.png"></a></img> &nbsp;&nbsp; <a href="https://github.com/tmctigrit" target="_blank"><img src="images/github.png"></a></img> &nbsp;&nbsp; <a href="http://www.linkedin.com/in/tmctigrit" target="_blank"><img src="images/linkedin.png"></a></img> &nbsp;&nbsp; <a href="http://twitter.com/tmctigrit" target="_blank"><img src="images/twitter.png"></a></img></center>
        </div>

        <div class="large-3 columns">
          <img src="images/rufino.jpg" class="founderpic"/>
          <h4 class="foundernames"> rufino ocamica </h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
         <center><a href="mailto:rufino@gmail.com?Subject=Yo%20Rufino"><img src="images/email.png"></a></img> &nbsp;&nbsp; <a href="https://github.com/rufino77" target="_blank"><img src="images/github.png"></a></img> &nbsp;&nbsp; <a href="http://www.linkedin.com/in/rufino44" target="_blank"><img src="images/linkedin.png"></a></img>&nbsp;&nbsp; <a href="http://twitter.com/makersquare" target="_blank"><img src="images/twitter.png"></img></a></center>
        </div>

           <div class="large-3 columns">
          <img src="images/jess.jpg" class="founderpic"/>
          <h4 class="foundernames"> jessica meyer </h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
         <center><a href="mailto:jesslynnmeyer@gmail.com?Subject=Yo%20Jessica"><img src="images/email.png"></a></img> &nbsp;&nbsp; <a href="https://github.com/jessicameyer" target="_blank"><img src="images/github.png"></a></img> &nbsp;&nbsp; <a href="http://www.linkedin.com/in/jessicameyervotaw" target="_blank"><img src="images/linkedin.png"></a></img>&nbsp;&nbsp; <a href="http://twitter.com/atxglutenfree" target="_blank"><img src="images/twitter.png"></img></a></center>
        </div>

           <div class="large-3 columns">
          <img src="images/cristinacaputo.jpg" class="founderpic"/>
          <h4 class="foundernames"> cristina caputo </h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
         <center><a href="mailto:cristinacaputo@gmail.com?Subject=Yo%20Cristina"><img src="images/email.png"></a></img> &nbsp;&nbsp; <a href="https://github.com/cristinacaputo" target="_blank"><img src="images/github.png"></a></img> &nbsp;&nbsp; <a href="http://www.linkedin.com/pub/cristina-caputo/90/590/466" target="_blank"><img src="images/linkedin.png"></a></img>&nbsp;&nbsp; <a href="http://twitter.com/lady__dev" target="_blank"><img src="images/twitter.png"></img></a></center>
        </div>

</div>