
<!-- SIGN IN / SIGN UP BUTTONS -->
<div class="logo">
      <img src="images/captcha.jpg"></img>
      <a href="/signin" class="button radius" id="signinbutton"> SIGN IN </a>
      <a href="/signup" class="button radius" id="signupbutton"> SIGN UP </a>
</div>


<!--HERO IMAGE-->

<section class="hero">
        <section class="container2">
        <!-- <img src="images/emashinfo3.jpg"></img> -->
        <img src="images/capturehero2.jpg"></img>
        </section>
 </section>

<!--RECENT STORIES-->

<div class="recent-memories">
  <h2 class="recentmemories"> captured moments </h2>
</div>

<div id="grid-gallery" class="grid-gallery">
    <section class="grid-wrap">
        <ul class="grid">
            <li class="grid-sizer"></li><!-- for Masonry column width -->
            <li>
                <figure>
                <img src="images/javascripthash.png" alt="img02"/>
                <!-- <figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption> -->
                 <figcaption><h3>#javascript</h3></figcaption>
              </figure>
            </li>
            <li>
               <figure>
                <img src="images/puppies.png" alt="img02"/>
                <!-- <figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption> -->
                 <figcaption><h3>#puppies</h3></figcaption>
              </figure>
            </li>
            <li>
               <figure>
                <img src="images/blazers.png" alt="img02"/>
                <!-- <figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption> -->
                 <figcaption><h3>#blazers</h3></figcaption>
              </figure>
            </li>
            <li>
                <figure>
                <img src="images/chocolate.png" alt="img02"/>
                <!-- <figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption> -->
                 <figcaption><h3>#chocolate</h3></figcaption>
              </figure>
            </li>
        </ul>
    </section><!-- // grid-wrap -->
    <section class="slideshow">
        <ul>
            <li>
                <figure>
                    <figcaption>
                        <h3>#javascript</h3>
                    </figcaption>
                    <img src="images/javascripthash.png" alt="img01"/>
                </figure>
            </li>
            <li>
                <figure>
                    <figcaption>
                        <h3>#puppies</h3>
                    </figcaption>
                    <img src="images/puppies.png" alt="img02"/>
                </figure>
            </li>
            <li>
                <figure>
                    <figcaption>
                        <h3>#blazers</h3>
                    </figcaption>
                    <img src="images/blazers.png" alt="img03"/>
                </figure>
            </li>
            <li>
                <figure>
                    <figcaption>
                        <h3>#chocolate</h3>
                    </figcaption>
                    <img src="images/chocolate.png" alt="img03"/>
                </figure>
            </li>
        </ul>
        <nav>
            <span class="icon nav-prev"></span>
            <span class="icon nav-next"></span>
            <span class="icon nav-close"></span>
        </nav>
        <div class="info-keys icon">Navigate with arrow keys</div>
    </section><!-- // slideshow -->
</div><!-- // grid-gallery -->

<!--FOUNDER SECTION-->

<div class="founder-color-wrap">
<div class="founder-stories">
  <h2 class="founderstories"> founders </h2>
</div>

<div class="row">

         <div class="large-3 columns">
            <center>
          <img src="images/cristina2.jpg" class="founderpic"/>
           <h4 class="foundernames"><span style="color: #6ec6e9">#</span>cristina</h4>
            <a href="http://www.twitter.com/cristinakaputo"><img src="images/footertweet.png" style="height: 25px"><span style="color: #f78d1d; font-weight: 400">follow</span></a>
          <p class="founder-info"> <span style="color: #6ec6e9">Favorite Hashtag:</span><span style="color: #b6d7e6"> #javascript </span> <br><span style="color: #6ec6e9">Favorite IG Filter:</span><span style="color: #b6d7e6"> Valencia </span> <br> <span style="color: #6ec6e9">Favorite IG Account:</span><span style="color: #b6d7e6"> @Ilovemath</span></p></center>
          </div>

          <div class="large-3 columns">
            <center>
          <img src="images/jessica2.jpg" class="founderpic"/>
           <h4 class="foundernames"><span style="color: #6ec6e9">#</span>jessica</h4>
            <a href="http://www.twitter.com/atxglutenfree"><img src="images/footertweet.png" style="height: 25px"><span style="color: #f78d1d; font-weight: 400">follow</span></a>
          <p class="founder-info"> <span style="color: #6ec6e9">Favorite Hashtag:</span> <span style="color: #b6d7e6">#puppies </span> <br><span style="color: #6ec6e9">Favorite IG Filter:</span><span style="color: #b6d7e6"> Rise </span><br><span style="color: #6ec6e9"> Favorite IG Account:</span><span style="color: #b6d7e6"> @HarlowandSage </span><br></p></center>
        </div>

         <div class="large-3 columns">
            <center>
          <img src="images/rufino2.jpg" class="founderpic"/>
           <h4 class="foundernames"><span style="color: #6ec6e9">#</span>rufino</h4>
            <a href="http://www.twitter.com/rufino4477"><img src="images/footertweet.png" style="height: 25px"><span style="color: #f78d1d; font-weight: 400">follow</span></a>
            <p class="founder-info"> <span style="color: #6ec6e9">Favorite Hashtag:</span> <span style="color: #b6d7e6"> #blazers </span><br><span style="color: #6ec6e9">Favorite IG Filter:</span><span style="color: #b6d7e6"> Normal </span><br> <span style="color: #6ec6e9">Favorite IG Account:</span><span style="color: #b6d7e6"> @Seahawk.city</span></p></center>
         </div>

          <div class="large-3 columns">
            <center>
          <img src="images/tricia2.jpg" class="founderpic"/>
           <h4 class="foundernames"><span style="color: #6ec6e9">#</span>tricia</h4>
           <a href="http://www.twitter.com/tmctigrit"><img src="images/footertweet.png" style="height: 25px"><span style="color: #f78d1d; font-weight: 400">follow</span></a>
          <p class="founder-info"> <span style="color: #6ec6e9">Favorite Hashtag:</span> <span style="color: #b6d7e6"> #chocolate </span><br><span style="color: #6ec6e9">Favorite IG Filter:</span><span style="color: #b6d7e6"> Nashville </span><br> <span style="color: #6ec6e9">Favorite IG Account:</span><span style="color: #b6d7e6"> @BlackSwanYoga </span> </p>
        </center>
</div>
</div>
</div>   <!--end of color wrap div->