
<!--SIGN UP FORM-->

<h2>Sign Up</h2>

<div class="test1"></div> <!--these test divs are to center the forms -->

<div class="signup-form">

 <div class= "row">
  <div class= "large-6 columns">

      <h6 class="signin-up-text"> sign up: </h6>

    <form action="/signup" method="post" name="signup">
      <input type="text" id="username" name="username" placeholder="Enter Username" />
      
      <input type="password" id="password" name="password" placeholder="Enter Password" />
      
      <button type="submit" value="Submit" id="signup" class="submitform"> SIGN UP </button>
    </form>
  
  </div>
 </div>

</div>


<div class="test2"></div>  <!--these test divs are to center the forms -->