<div id="title"><%= @title%></div>

<center>
<ul class="cbp_tmtimeline">
    <% @data["data"].each do |x|%>
    <li>
        <time class="cbp_tmtime" datetime=""><span><%= Time.at(x["caption"]["created_time"].to_i).strftime("%B %d, %Y") %></span></time>
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
        <h2> <%= x["caption"]["text"] %></h2>    
        <img src="<%= x["images"]["low_resolution"]["url"] %>" alt="">
    </div>
    </li>
    <% end %> 
</ul>
</center>

