<div class="logo">
      <img src="../images/captcha.jpg"></img>
       <!--sign out button somewhere-->
       <a href="/signout" method="post" name="signout" action="/signout" class="button radius" id="signoutbutton"> SIGN OUT </a>
</div>

<!-- <body> -->
<!-- <h1 class="titlestory"> <%= @current_user %>'s event: #<%=@title%></h1> -->

<h1 class="titlestory"> <%= @current_user["username"] %>'s event </h1>
<br><br>


<center>
    <div id="hashmash">

        <% @data["data"].take(9).each do |x|%>

            &nbsp;&nbsp;&nbsp;<img src="<%= x["images"]["low_resolution"]["url"] %>" alt="" class="hashystyle">&nbsp;&nbsp;&nbsp;&nbsp;

        <% end %>
    </div>
<br>
<br>
</center>

<!-- </body>
</html> -->
