<div class="logo">
      <img src="../images/captcha.jpg"></img>
       <!--sign out button somewhere-->
       <!-- <a href="/signout" method="post" name="signout" action="/signout" class="button radius" id="signoutbutton"> SIGN OUT </a> -->

       <form style="border: 1px solid black; margin-top: -70px; padding-left:300px" action='/signout' method="post" name="signout"><button style="border-radius: 4px">SIGNOUT</button></form>
</div>

<!-- <body> -->
<!-- <h1 class="titlestory"> <%= @current_user %>'s event: #<%=@title%></h1> -->

<h1 class="titlestory"> <%= @current_user["username"] %>'s event </h1>

<!--bitly URL shortener-->

<center>
<button type='submit' value='submit' id='shorten' class="tiny button" action="/shorten" method="post">Share event</button>
</center>

<!-- <div class="row"> -->
<div class="shortenurl">
<form action="/shorten" method="post" onclick="showDiv()">
    <input id="url-input" type="text" name="shortenurl" value="http://bit.ly/1AIAZuO">
  </div>
<!-- </div> -->
</center>


<center>
    <div id="hashmash">

        <% @data["data"].take(9).each do |x|%>

            &nbsp;&nbsp;&nbsp;<img src="<%= x["images"]["low_resolution"]["url"] %>" alt="" class="hashystyle">&nbsp;&nbsp;&nbsp;&nbsp;

        <% end %>
    </div>
<br>
<br>
</center>

<!-- </body>
</html> -->
