<body>

<%= @title%>
<br><br>


<center>
    <div id="hashmash">

        <% @data["data"].take(9).each do |x|%>

            &nbsp;&nbsp;&nbsp;<img src="<%= x["images"]["low_resolution"]["url"] %>" alt="" class="hashystyle">&nbsp;&nbsp;&nbsp;&nbsp;

        <% end %>
    </div>
<br>
<br>
</center>

</body>
</html>
