<div class="logo">
      <img src="images/captcha.jpg"></img>
       <!--sign out button somewhere-->
     </div>

<div class="container">
<h1 class="welcomename"> welcome <%= @current_user %>!</h1>


<!-- Create a new story-->

<div class="test1"></div> <!--these test divs are to center the forms -->

<div class="story-form">

 <div class= "row">
  <div class= "large-6 columns">

      <h6 class="event-title"> create your event story </h6>

    <form action='/welcome' method="post" id="my_form">
      <!-- <input type='text' id='username' name='username' placeholder='Enter Username' /> -->
      <div>
      <label for="event-title">event title:</label>
      <input id="story-title" type="text" name="title" placeholder="your event title">
      </div>
      <label for="event-hashtag">event hashtag:</label>
      <input type="text" id="tag" name="hashtag" placeholder="your event hashtag" />
      <label for="date-of-arrival"> event start date </label>
      <input type="date" name="date-of-arrival" id="doa" autofocus required>
      <label for="date-of-departure"> event end date </label>
      <input type="date" name="date-of-departure" id="dod" autofocus required>
      <button class="btn">Submit</button>
    </form>
  </div>
 </div>
</div>

<!--SIGN UP FORM-->

<div class="hashpic">

 <div class= "row">
  <div class= "large-6 columns">

      <h6 class="hashstorypic"> capture your event </h6>
           <img src="images/hashstory.jpg">
    
  </div>
 </div>
</div>


<div class="test2"></div>  <!--these test divs are to center the forms -->
</div>
<!--script for form date section-->
<script>
// mcc @copyright //
      $(document).ready(function() {
        $(document).foundation();
        $(document).on("submit", "#my_form", function (e) {
          var startDate = new Date($('#doa').val());
          var endDate = new Date($('#dod').val());
           //if end date is before start date
          if (startDate > endDate){
              alert("Please enter a later date than the start!");
              return false;
            }
          //if the above conditions fail, the form will be not submitted
      });
    })
    </script>