<div class="logo">
      <img src="images/captcha.jpg"></img>
       <!--sign out button somewhere-->
       <a href="/signout" method="post" name="signout" action="/signout" class="button radius" id="signoutbutton"> SIGN OUT </a>
</div>

<div class="container">
<h1 class="welcomename"> welcome <%= @current_user["username"] %>!</h1>

<!--plugin start-->

  <div class="container">
      <header class="clearfix">
      </header>
      <div class="main">
        <div id="cbp-contentslider" class="cbp-contentslider">
          <ul>
            <li id="slide1">
              <center><h3># how it works</h3></center>
              <div>
                <div class="cbp-content">
                  <br><br><br>
                  <p style="font-size: 25px"><strong>Step 1:</strong><br>Hashtag your event</p><br>
                  <p style="font-size: 25px"><strong>Step 2:</strong><br>Login to CAPTCHA</p><br><br><br>
                  <p style="font-size: 25px"><strong>Step 3:</strong><br>Enter in your event's Hashtag</p><br>
                  <p style="font-size: 25px"><strong>Step 4:</strong><br>Share your CAPTCHA with the world</p>
                </div>
              </div>
            </li>
            <li id="slide2">
              <h3># sample event</h3>
              <div>
                <div class="cbp-content">
                  <center>
                    #nycmarathon&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img src="images/hashexample1.jpg" class="hashpictures">
                   #seahawkswin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img src="images/hashexample2.jpg" class="hashpictures">
                </center>
                </div>
              </div>
            </li>
            <li id="slide3">
              <h3># get started&nbsp;&nbsp;</h3>
              <div>
                <div class="cbp-content">
                   <form action='/welcome' method="post" id="my_form">
      <!-- <input type='text' id='username' name='username' placeholder='Enter Username' /> -->

      <label for="event-title">event title:</label>
      <input id="story-title" type="text" name="title" placeholder="your event title">
      <label for="event-hashtag">event hashtag:</label>
      <input type="text" id="tag" name="hashtag" placeholder="your event hashtag" />
      <button class="btn">Submit</button>
    </form>

              </div>
            </div>
            </li>
       <!--      <li id="slide4">
              <h3 class="icon-turtle">Step 4</h3>
              <div>
                <div class="cbp-content">
                  <p>Yarrow bush tomato beetroot taro water chestnut komatsuna azuki bean. Parsnip artichoke water chestnut caulie carrot grape summer purslane brussels sprout fava bean tomatillo pea groundnut nori earthnut pea tigernut. Tigernut brussels sprout wakame tomatillo radicchio carrot maize swiss chard seakale melon grape broccoli pea sprouts kakadu plum plantain cauliflower. Gram salsify radicchio daikon courgette rock melon bunya nuts turnip greens. Cabbage black-eyed pea spinach asparagus plantain cress soybean spring onion salad artichoke pea garlic silver beet grape water spinach zucchini wakame summer purslane.</p>
                </div>
              </div>
            </li> -->
           <!--  <li id="slide5">
              <h3 class="icon-platypus">Platypus</h3>
              <div>
                <div class="cbp-content">
                  <p>Potato watercress burdock spinach quandong jícama chard pea sprouts garlic celery turnip daikon kale lotus root sorrel coriander rock melon cabbage. Epazote salsify lentil rock melon eggplant cauliflower zucchini caulie catsear broccoli rabe pumpkin lettuce okra green bean squash seakale onion water chestnut. Sweet pepper peanut corn soko celery winter purslane.</p>
                  <p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
                </div>
              </div>
            </li> -->
          </ul>
          <nav>
            <a href="#slide1"><span>Overview</span></a>
            <a href="#slide2"><span>Examples</span></a>
            <a href="#slide3"><span>Get Started</span></a>
           <!--  <a href="#slide4" class="icon-turtle"><span>Step 4</span></a> -->
            <!-- <a href="#slide5" class="icon-platypus"><span>Platypus</span></a> -->
          </nav>
        </div>
      </div>
    </div>

    <!--plugin end-->
