/*.hero-image {
	width: 100%;
	height: 400px;
}*/

/** {
	font-family: HelveticaNeue;
}*/

/* HOME PAGE */

.hero {
/*background: url('https://raw.githubusercontent.com/JessicaMeyer/storymash/master/public/images/testimage.JPG') no-repeat center center;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
background-color: #b6e2f4;
}
.hero .container2 {
display: table-cell;
text-align: center;
vertical-align: middle;
/*background-color: #4e505c;*/
background-color: #b6e2f4;
/*height: 450px;*/
}


.logo {
	/*background-color: #b6d7e6;*/
	background-color: #040304;
	height: 100px;
	display: block;
}

#signupbutton {
	float:right;
	background: #00457c;
	margin-right: 4px;
	margin-top: 16px;
}

#signinbutton {
	float:right;
	background: #6dc5e9;
	margin-top: 16px;
	margin-right: 8px;
}

.signoutbutton {
	float: right;
	background: #00457c;
	margin-right: 4px;
	margin-top: 16px;
}

/* recent memories section home page */

.recent-memories {
	/*background-color: #16a79d;*/
	text-align: center;

}

.recentmemories {
   font-family: "Marck Script", cursive;
  font-weight: 400;
  padding-top: 20px;
}

/* founder pic section home page */

.founderpic {
	height: 170px;
	width: 169px;
	border-radius: 5px;
}


.founderstories {
/* font-family: 'Oswald', sans-serif;*/
 font-family: "Marck Script", cursive;
 font-weight: 400;
 color: #b6d7e6;
 	padding-top: 20px;
 	padding-bottom: 20px;
}

.founder-info {
	color: #040304;
	font-size: .75em;
	font-family: "HelveticaNeue";
	line-height: 25px;
}

.founder-color-wrap {
	background-color: #14477b;
/*	background-image: url("../images/hashtagbackground.jpg");*/
}


.founder-stories {
	/*background-color: #b6d7e6;*/
	text-align: center;
}


.foundernames {
	/*font-family: 'Hammersmith One', sans-serif;*/
	font-family: "HelveticaNeue-Bold";
	text-align: center;
	color: #b6d7e6;
}

/* footer section on layout.erb */

#footerbutton {
 /*margin-left: 200px;*/
 float: right;
 background: #4d505b;
 font-family: 'Raleway', sans-serif;
 font-size: 14px;
 margin-top: 20px;
}


.twitbutton {
	padding-top: 35px;
}

.copyright {
	padding-top: 60px;
	color: #4d505b;
	font-family: 'Hammersmith One', sans-serif;
}

.footer-wrap {
	height: 100px;
	background-color: #020001;
}

/* welcome.erb page */

.welcomename {
	text-align: center;
	font-family: "Marck Script", cursive;
}

.story-form {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
	width: 35%;
    display: inline-block;
}

.hashpic {
	border: 1px solid #9e9e9e;
	border-radius: 15px;
    width: 35%;
  display: inline-block;
}

.test1 {
  width: 15%;
  display: inline-block;
}

.test2 {
	width: 15%;
	display: inline-block;
}

.container {
	background-color: #CFD8DC;
}

#hashmash {
  width: 1000px;
  background-color: black;
  border-radius: 3px;
}

.hashystyle {
  border-radius: 4px;
  margin-bottom: 50px;
  height: 295px;
}

/* welcome plugin styles */
/*
.slide-logo {
	width: 60px;
	height: 60px:;
}
*/

.cbp-content {
	height: 331px;
}


.hashpictures {
	height: 300px;
}

/* story page */

.titlestory {
	font-family: "Marck Script", cursive;
	 font-weight: 400;
	 color: #4d505b;
 	padding-top: 20px;
 	text-align: center;
 }

 /* story.erb page */

.cbp_tmtimeline {
	width: 60%;
}

.cbp_tmtime {
	float: left;
}

.sm-title {
	font-size: 18px;
	font-family: 'Hammersmith One', sans-serif;
}

button#shorten {
 background-color: #f78d1d;
}

input#url-input {
	width: 40%;
}

.shortenurl {
	margin-left: 473px;
 /*   border: 1px solid red;*/
}