/*.hero-image {
	width: 100%;
	height: 400px;
}*/

/*HOME PAGE */

.hero {
/*background: url('https://raw.githubusercontent.com/JessicaMeyer/storymash/master/public/images/testimage.JPG') no-repeat center center;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
}
.hero .container {
display: table-cell;
text-align: center;
vertical-align: middle;
/*background-color: #4e505c;*/
background-color: #b6e2f4;
height: 450px;
}

.recent-stories {
	/*background-color: #16a79d;*/
	text-align: center;

}

.logo {
	/*background-color: #b6d7e6;*/
	background-color: white;
	height: 100px;
	display: block;
}

#signupbutton {
	float:right;
	background: #00457c;
	margin-right: 4px;
	margin-top: 16px;
}

#signinbutton {
	float:right;
	background: #6dc5e9;
	margin-top: 16px;
	margin-right: 8px;
}


.founderpic {
	height: 225px;
	border-radius: 5px;
}


.founderstories {
 font-family: 'Oswald', sans-serif;
 font-weight: 400;
}

.founder-color-wrap {
	background-color: #fbc68e;
}


.founder-stories {
	/*background-color: #b6d7e6;*/
	text-align: center;
}

.recentstories {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.foundernames {
	font-family: 'Hammersmith One', sans-serif;
	text-align: center;
	color: #4d505b;
}

#footerbutton {
 /*margin-left: 200px;*/
 float: right;
 background: #4d505b;
 font-family: 'Raleway', sans-serif;
 font-size: 14px;
}

.copyright {
	color: #4d505b;
	font-family: 'Hammersmith One', sans-serif;
}

